/*Contenu général de mon CSS*/
* {
  box-sizing: border-box;
}

html, body{
    width : 1310px
}

body{
background: hsl(257, 40%, 49%) url('images/bg-desktop.svg');
color: white;
background-repeat : no-repeat;
background-size: cover;
} 

/*stylisation of the main part*/
.main_containt{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    gap: 30px;
    width: 100%;
}

.containt_left{
    display: flex;
    flex-direction : column;
    justify-content: space-around;    
}

.logo {
    margin: 25px;
}

.containt_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.attribution a{
    color: hsl(228, 45%, 44%);
}

.main-part{
    display: flex;
    flex-direction : row;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    width: ;
    margin: ;
}

.photo{
    max-width: 1200px;
    width : 100%;
}


.att{
    
}


.text{
    width: 40rem;
    height: 12rem;
    
}

.main_t{
    font : normal 600 35px "Poppins", sans-serif;
  
}

.presentation{
    font : normal 200 12px "Poppins", sans-serif;
}

.button{
    width: 70px;
    height: 15px;
    font : normal 300 15px "Poppins", sans-serif; /*Tout regroupé en 1 seul*/
  padding: 12px 40px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: 3rem;
  background-color: white;
  color : hsl(257, 40%, 49%); 
  display: flex;
    justify-content: center; 
    align-items: center;
}

.link_rs{

}

.icone_cercle{
width: 40px;
height: 40px;
border-radius: 50%;
border: 1px solid white;
display: inline-flex;
justify-content: center;
align-items: center;
text-decoration: none;
color: white;
border: 0.1rem solid white;
}

.icone_cercle i{
    font-size: 2rem;
    font-weight: 0.5rem;
}

/*Partie du CSS qui concerne les états - animations*/

.icone_cercle:hover{
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);

}

.button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}

/*Partie du css qui gère le responsive design*/

/*@media screen and (max-width:375px){
    body{
        background:hsl(257 40% 49%) url('images/bg-mobile.svg') no-repeat;
        background-size: 120rem 120rem;
    }

    .logo{
        width: 20rem;
        margin: 10rem 10rem;
    }

    
    .conteneur{    
        position : relative;
        width:30rem;
        display: flex;
        flex-direction : column;
    }

    .photo{
    width: 10rem;
    position: absolute;
    top: 10rem;
    left: 10rem;
}

.main_t{
    position: absolute;
    top: 50rem;
    left: -60rem;
    font-size: 62px
}

.presentation{
    position: absolute;
    top: 75rem;
    left: -70rem;
    font-size: 30px;
}

.button{
    position: absolute;
    top : 95rem;
    left: -40rem;
    wwidth: 7rem;
    height: 1.5rem;
  padding: 4.8rem 14rem;
  border-radius: 12rem;
}

.link_rs{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 120rem;
    left: 30rem;
  padding: 1rem 10rem;
}

.icone_cercle{
width: 5rem;
height: 5rem;
border-radius: 50%;
border: 0.1rem solid white;
display: inline-flex;
justify-content: center;
align-items: center;
margin: 0 0.8rem;
text-decoration: none;
color: white;
border: 0.1rem solid white;
}
}
*/
