/*Contenu général de mon CSS*/

html{
    font-size: 62.5%;
}

body{
background: hsl(257 40% 49%) url('images/bg-desktop.svg');
color: white;
} 

.attribution{
    font-size: 1.1rem; 
    text-align: center; 
}

.attribution a{
    color: hsl(228, 45%, 44%);
}

.main-part{
    display: flex;
    flex-direction : row;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    width: 100rem;
    margin: 3rem 3rem;
}

.svg{
    margin : 1rem 4rem 2rem 4rem; /*:( j'avais fait une erreur... haut, bas, droit, gauche.*/
}


.att{
    position: relative;
    top: 60rem;
}

.photo{
    width: 70rem;
    position: absolute;
    top: 10.5rem;
    left: 5rem;
}

.text{
    width: 40rem;
    height: 12rem;
    position: absolute;
    top: 13rem;
    left: 79rem;
}

.main_t{
    font : normal 600 3.5rem "Poppins", sans-serif;
  top : 17rem;
}

.presentation{
    font : normal 200 1.2rem "Poppins", sans-serif;
}

.button{ 
    position : absolute;
    width: 7rem;
    height: 1.5rem;
    font : normal 300 1.5rem "Poppins", sans-serif; /*Tout regroupé en 1 seul*/
  padding: 1.2rem 4rem;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: 3rem;
  background-color: white;
  color : hsl(257, 40%, 49%); 
  top: 29rem;
  display: flex;
    justify-content: center; 
    align-items: center;
}

.link_rs{
position: absolute;
top: 65rem;
left: 100rem;
}

.icone_cercle{
width: 4rem;
height: 4rem;
border-radius: 50%;
border: 0.1rem solid white;
display: inline-flex;
justify-content: center;
align-items: center;
margin: 0 0.8rem;
text-decoration: none;
color: white;
border: 0.1rem solid white;
}

.icone_cercle i{
    font-size: 2rem;
    font-weight: 0.5rem;
}

/*Partie du CSS qui concerne les états - animations*/

.icone_cercle:hover{
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);

}

.button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}

/*Partie du css qui gère le responsive design*/

@media screen and (max-width:375px){
    body{
        background:hsl(257 40% 49%) url('images/bg-mobile.svg') no-repeat;
        background-size: 120rem 120rem;
    }

    .logo{
        width: 20rem;
        margin: 10rem 10rem;
    }

    
    .conteneur{
        position : relative;
        width:30rem;
        display: flex;
        flex-direction : column;
    }
    .photo{
    width: 10rem;
    position: absolute;
    top: 10rem;
    left: 10rem;
}

.main_t{
    position: absolute;
    top: 50rem;
    left: -60rem;
    font-size: 62px
}

.presentation{
    position: absolute;
    top: 75rem;
    left: -70rem;
    font-size: 30px;
}

.button{
    position: absolute;
    top : 95rem;
    left: -40rem;
    wwidth: 7rem;
    height: 1.5rem;
  padding: 4.8rem 14rem;
  border-radius: 12rem;
}

.link_rs{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 120rem;
    left: 30rem;
  padding: 1rem 10rem;
}

.icone_cercle{
width: 5rem;
height: 5rem;
border-radius: 50%;
border: 0.1rem solid white;
display: inline-flex;
justify-content: center;
align-items: center;
margin: 0 0.8rem;
text-decoration: none;
color: white;
border: 0.1rem solid white;
}
}