/*Contenu général de mon CSS*/

html{
    font-size: 62.5%;
}

body{
background-color: hsl(257 40% 49%);
background-image: url('images/bg-desktop.svg');
color: white;
} 

.attribution{
    font-size: 1.1rem; 
    text-align: center; 
}

.attribution a{
    color: hsl(228, 45%, 44%);
}

.main-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    width: 100rem;
    margin: 3rem 3rem;
}

svg{
    margin : 1rem 2rem 2rem 4rem auto; /**Donne moi les positions auquelle s'appliquent ton margin pour chaque valeur***/
}


.att{
    position: relative;
    top: 60rem;
}

.photo{
    width: 70rem;
    position: absolute;
    top: 10.5rem;
    left: 5rem;
}

.text{
    width: 40rem;
    height: 12rem;
    position: absolute;
    top: 13rem;
    left: 79rem;
}

.main_t{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3.5rem;
  top : 17rem;
}

.presentation{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2rem;
}

.button{ 
  position : absolute;
  width: 7rem;
  height: 1.5rem;
  font-family: "Poppins", sans-serif; /**trouve comment reunir tout les atrribut font en un seul**/
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  padding: 1.2rem 4rem;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: 3rem;
  background-color: white;
  color : hsl(257, 40%, 49%); 
  top: 29rem;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.link_rs{
position: absolute;
top: 65rem;
left: 100rem;
}

.icone_cercle{
width: 4rem;
height: 4rem;
border-radius: 50%;
border: 0.1rem solid white;
display: inline-flex;
justify-content: center;
align-items: center;
margin: 0 0.8rem;
text-decoration: none;
color: white;
border: 0.1rem solid white;
}

.icone_cercle i{
    font-size: 2rem;
    font-weight: 0.5rem;
}

/*Partie du CSS qui concerne les états - animations*/

.icone_cercle:hover{
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);

}

.button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}

/*Partie du css qui gère le responsive design*/

@media screen and (max-width:375px){
    body{
        background-image: url('images/bg-mobile.svg');
    }
}

/*I'm just looking for the git evolution*/ /***pas grand chose a dire ici**/
