/*Contenu général de mon CSS*/
* {
  box-sizing: border-box;
}

html, body{
    width : 1310px
}

body{
background: hsl(257, 40%, 49%) url('images/bg-desktop.svg');
color: white;
background-repeat : no-repeat;
background-size: cover;
} 

/*stylisation of the main part*/
.main_containt{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.containt_left{
    display: flex;
    flex-direction : column;
    justify-content: space-around; 
    padding: 0px 5px 0px 10px;  
}

.logo {
    padding: 25px;
}

.photo{

}

.containt_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px 0px 5px;
}

/*the text stylistation*/
.text1 {
  font: normal 600 40px "Poppins", sans-serif;
}

.text2{
    font: normal 200 15px "Open Sans", sans-serif;
    /*weitgh, size, familly */
}

.attribution a{
    color: hsl(228, 45%, 44%);
}

.main-part{
    display: flex;
    flex-direction : row;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
 
}

.photo{
    max-width: 1200px;
    width : 100%;
}


.main_t{
    font : normal 600 35px "Poppins", sans-serif;
  
}

.presentation{
    font : normal 400 8px "Poppins", sans-serif;
}

.button{
    width: 70px;
    height: 15px;
    font : normal 300 15px "Poppins", sans-serif; /*Tout regroupé en 1 seul*/
  padding: 20px 80px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  background-color: white;
  color : hsl(257, 40%, 49%); 
  display: flex;
    justify-content: center; 
    align-items: center;
}

.link_rs{
border: 1px solid black;
display: flex;
justify-content: right;
}

.icone_cercle{
margin: 5px;
width: 40px;
height: 40px;
border-radius: 50%;
border: 1px solid white;
display: inline-flex;
justify-content: center;
align-items: center;
text-decoration: none;
color: white;
}

.icone_cercle i{
    font-size: 20px;
    font-weight: 5px;
}

/*PARTIE DU CSS QUI CONCERNE LES ÉTATS - ANIMATIONS*/

.icone_cercle:hover{
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);

}

.attribution{
    display : flex;
    justify-content: center;
}

.button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}

/*PARTIE DU CSS QUI S'OCCUPE DU RESPONSIVE DESIGN*/

@media screen and (max-width:375px){
    body{
        background:hsl(257 40% 49%) url('images/bg-mobile.svg') no-repeat;
    }


    
    .main_containt{    
        width: 100%;
        display: flex;
        flex-direction : column;
    }

    .photo{
    width: 10Opx;
}





}


